<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editpage</title>
    <link rel="stylesheet" href="style2.css" />
  </head>
  <body>
    <div id="preloader">
      <img src="./images/loader3.gif" alt="" />
    </div>
    <div class="container1">
      <div class="createholder">
        <div class="createbox">
          <div>
            <p>Title:</p>
            <input type="text" id="title" />
          </div>
          <div>
            <p>describition</p>
            <textarea name="describe" id="textarea"></textarea>
          </div>
          <div id="buttons">
            <button onclick="gohomepage()">cancel</button>
            <button onclick="payload()">
              update<i class="ri-send-plane-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
   
  </body>
<!--   <script src="./node_modules/axios/dist/axios.min.js"></script> -->
  <script src="./create.js"></script>
</html>
